.home .liste-classe .bandeau {
    display: block;
    margin: 30px 20px 50px 30px;
    height: 100px;
    background-color: var(--primary-color-light);
    color: var(--text-color);
    border-radius: 10px;
    box-shadow: -11px 11px 1px rgb(0 0 0 / 30%);
    text-align: center;
}

.home .liste-classe .bandeau h1 {
    padding-top: 30px;
}

.home .liste-classe .donnees {
    display: flex;
}

.home .liste-classe .donnees .classe {
    display: block;
	position: relative;
    padding: 50px;
    width: 100%;
}

.home .liste-classe .donnees .user {
    display: block;
	position: relative;
	margin: auto;
	padding: 50px;
	width: 100%;
}

.home .liste-classe .donnees .classe .affichage-classe .une-classe {
    background: var(--background-color-classe);
    width: 100%;
    border-radius: 10px;
    border-left: solid 10px var(--primary-color);
    color: var(--primary-color);
    margin-bottom: 10px;

}

.home .liste-classe .donnees .classe .affichage-classe .une-classe .multi-zone {  
    display: flex;
    justify-content: space-between;
}

.home .liste-classe .donnees .classe .affichage-classe .une-classe .multi-zone .partie-principale {  
    margin-left: 10px;
}

.home .liste-classe .donnees .classe .affichage-classe .une-classe .multi-zone .partie-principale .nom {
    font-weight: bold;
}

.home .liste-classe .donnees .classe .affichage-classe .une-classe .multi-zone .commentaire {  
    margin-right: 10px;
}

.home .liste-classe .donnees .user {
    margin-top: 0;
}

.home .liste-classe .donnees .user .affichage-user {

}

.home .liste-classe .donnees .user .affichage-user .un-user {
    margin-bottom: 10px;
    background: var(--background-color-classe);
    width: 100%;
    border-radius: 10px;
    border-left: solid 10px var(--primary-color);
    color: var(--primary-color);
}

.home .liste-classe .donnees .user .affichage-user .un-user .multi-zone {  
    display: flex;
    justify-content: space-between;
}

.home .liste-classe .donnees .user .affichage-user .un-user .multi-zone .donnee-général {
    margin-left: 10px;
}

.home .liste-classe .donnees .user .affichage-user .un-user .multi-zone .donnees-auxiliaire {
    margin-right: 10px;
}

.home .liste-classe .donnees .user .affichage-user .un-user .multi-zone .donnee-général .name {
    font-weight: bold;
}

.home .liste-classe .donnees .user .affichage-user .un-user .supprimer .button {
    border-radius: 20px;
    border: 1px solid #380036;
    background-color: #380036;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 6px 23px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    cursor: pointer;
    margin: 3px;
    margin-left: 40%;
}

.home .donnees-site {
    display: block;
    width: 32%;
    margin: auto;
    border: 1px solid var(--primary-color);
    background: var(--background-color-classe);
    border-radius: 20px;
    color: var(--primary-color);
}

.home .donnees-site .texte {
    margin-left: 20px;
}

.home .donnees-site .donnees {
    display: block;
    width: 32%;
    margin: auto;
}

.home .donnees-site .user-mode-account {
    margin-top: 15px;
    margin-left: 20px;
}

.home .donnees-site .user-mode-account .type-de-compte {
    display: block;
    width: 32%;
    margin: auto;
}

.home .all-classe-to-user,
.home .all-notif-to-user {
    margin: 40px;
    table-layout: fixed;
    border: 1.5px solid var(--primary-color);
    background: var(--background-color-classe);
    color : var(--primary-color);
}

.home .all-classe-to-user td,
.home .all-classe-to-user th,
.home .all-notif-to-user td,
.home .all-notif-to-user th {
    border: 1.5px solid var(--primary-color)
}

.home .all-classe-to-user thead,
.home .all-notif-to-user thead {
    font-weight: bold;
    text-align: center;
}

.home .all-classe-to-user tbody,
.home .all-notif-to-user tbody {
    text-align: center;
}
