.zone-modifieur {
	display: flex;
}

.zone-modifieur .donnees-en-cours-de-modification {
	display: block;
	position: relative;
    padding: 50px;
}

.zone-modifieur .donnees-en-cours-de-modification .titre-module-donnees {
	color: var(--text-color);
	font-size: 25px;
	text-align: center;
	margin: auto;
	margin-bottom: 20px;
	display: block;
	border-radius: 10px;
	width: 70%;
}


.home .zone-modifieur .donnees-en-cours-de-modification .liste-donnees {
	z-index: 1;
	margin: auto;
	display: block;
	border-radius: 10px;
	width: 100%;
	background: var(--primary-color-form);
	border: 0.5px solid var(--primary-color);
	box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);
	padding : 20px;
}

.home .zone-modifieur .donnees-en-cours-de-modification .liste-donnees .name {
}

.home .zone-modifieur .donnees-en-cours-de-modification .liste-donnees .mere-name{
}

.home .zone-modifieur .donnees-en-cours-de-modification .liste-donnees .Protect-head{
}

.home .zone-modifieur .donnees-en-cours-de-modification .liste-donnees .Generat-head-default-construct {
}

.home .zone-modifieur .donnees-en-cours-de-modification .liste-donnees .Generat-head-destruct{
}

.home .zone-modifieur .donnees-en-cours-de-modification .liste-donnees .auteur{
}

.zone-modifieur .Generateur-classe {
	display: block;
	position: relative;
	margin: auto;
	padding: 50px;
	width: 70%;
}

.zone-modifieur .Generateur-classe form {
	z-index: 1;
	margin: auto;
	display: block;
	border-radius: 10px;
	width: 50%;
	background: var(--primary-color-form);
	border: 0.5px solid var(--primary-color);
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.zone-modifieur .Generateur-classe form .Definition-classe {
	z-index: 2;
	display: block;
	padding: 10px;
	border-radius: 5px;
	margin: 15px;
	border: 2px solid var(--primary-color);
}

.zone-modifieur .Generateur-classe form .Options-classes {
	z-index: 2;
	display: block;
	padding: 10px;
	margin: 15px;
	border-radius: 5px;
	border: 2px solid var(--primary-color);
}

.zone-modifieur .Generateur-classe form .Commentaire {
	z-index: 2;
	display: block;
	padding: 10px;
	margin: 15px;
	border-radius: 5px;
	border: 2px solid var(--primary-color);
}

.zone-modifieur .Generateur-classe form .zone-remplissage {
	padding: 5px;
	border-radius: 5px;
}

.zone-modifieur .Generateur-classe form p {
	background: var(--primary-color-form);
	margin-left: 20px;
	margin-top: -25px;
	width: 200px;
	position: relative;
	border-radius: 10px;
	padding-left: 5px;
}

.zone-modifieur .Generateur-classe form .Definition-classe p {
	width: 185px;
}

.zone-modifieur .Generateur-classe form .Commentaire p {
	width: 125px;
}

.zone-modifieur .Generateur-classe form .Options-classes p {
	width: 75px;
}

.zone-modifieur .Generateur-classe .Titre-form {
	color: var(--text-color);
	font-size: 25px;
	text-align: center;
	margin: auto;
	margin-bottom: 20px;
	display: block;
	border-radius: 10px;
	width: 50%;
}

.zone-modifieur .button-envoyer-class {
	display: block;
	align-items: center;
	text-align: center;
	border-radius: 20px;
	border: 1px solid var(--primary-color);
	background-color: #380036;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
	cursor: pointer;
	margin: 5px 0 20px 125px;
}
