body {
	font-size: 10px;
	font-family: Roboto, sans-serif;
	background: linear-gradient(to right, #380036, #0CBABA);
	margin: 0;
	display: grid;
	height: 100vh;
	place-items: center;
}

 .c-checkbox {
	 display: none;
}

 .c-checkbox:checked + .c-formContainer .c-form {
	 width: 37.5em;
}

 .c-checkbox:checked + .c-formContainer .c-form__toggle {
	 visibility: hidden;
	 opacity: 0;
	 transform: scale(0.7);
}

 .c-checkbox:checked + .c-formContainer .c-form__input {
	border: 1px solid #380036;
	transition: 0.2s 0.1s;
	visibility: visible;
	opacity: 1;
	transform: scale(1);
	background-color: transparent;
	border-color: white;
	color: white;
}

.c-checkbox:checked + .c-formContainer .c-form__buttonLabel {
	transition: 0.2s 0.1s;
	visibility: visible;
	opacity: 1;
	transform: scale(1);
	background-color: transparent;
	border-color: white;
	color: white;
	margin-left: 10px;
}

 .c-checkbox:not(:checked) + .c-formContainer .c-form__input:required:valid ~ .c-form__toggle::before, .c-checkbox:checked + .c-formContainer .c-form__input:required:valid ~ .c-form__toggle::before {
	 content: 'Un email de confirmation vous a été envoyer !!!';
}

 .c-checkbox:not(:checked) + .c-formContainer .c-form__input:required:valid ~ .c-form__toggle {
	 pointer-events: none;
	 cursor: default;
}

 .c-formContainer, .c-form, .c-form__toggle {
	 width: 48em;
	 height: 6.25em;
}

 .c-formContainer {
	 position: relative;
	 font-weight: 700;
}

 .c-form, .c-form__toggle {
	 position: absolute;
	 border-radius: 6.25em;
	 background-color: #fff;
	 transition: 0.2s;
}

.c-form {
	left: 50%;
	transform: translateX(-50%);
	padding: 0.625em;
	box-sizing: border-box;
	box-shadow: 0 0.125em 0.3125em rgba(0, 0, 0, 0.3);
	display: flex;
	justify-content: center;
	background-color: transparent;
	border-color: white;
	color: white;
}

.c-form__toggle {
	border: 1px solid #380036;
	color: white;
	top: 0;
	cursor: pointer;
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: transparent;
	border-color: white;
}

 .c-form__toggle::before {
	 font-size: 1.75em;
	 content: attr(data-title);
}

 .c-form__input, .c-form__button {
	 font: inherit;
	 border: 0;
	 outline: 0;
	 border-radius: 5em;
	 box-sizing: border-box;
}

 .c-form__input, .c-form__buttonLabel {
	 font-size: 1.75em;
	 opacity: 0;
	 visibility: hidden;
	 transform: scale(0.7);
	 transition: 0s;
}

 .c-form__input {
	 color: #fcc;
	 height: 100%;
	 width: 100%;
	 padding: 0 0.714em;
}

 .c-form__input::placeholder {
	 color: currentColor;
}

 .c-form__input:required:valid {
	 color: #ff7b73;
}

 .c-form__input:required:valid + .c-form__buttonLabel {
	 color: #fff;
}

 .c-form__input:required:valid + .c-form__buttonLabel::before {
	 pointer-events: initial;
}

 .c-form__buttonLabel {
	 color: #ffaea9;
	 height: 100%;
	 width: auto;
}

 .c-form__buttonLabel::before {
	 content: '';
	 position: absolute;
	 width: 100%;
	 height: 100%;
	 pointer-events: none;
	 cursor: pointer;
}

.c-form__button {
	color: inherit;
	padding: 0;
	height: 100%;
	width: 5em;
	background-color: #380036;
}
 