.home .en-tete {
    display: block;
    margin: 30px 20px 50px 30px;
    height: 100px;
    background-color: var(--primary-color-light);
    color: var(--text-color);
    border-radius: 10px;
    box-shadow: -11px 11px 1px rgb(0 0 0 / 30%);
    text-align: center;
}

.home .en-tete h1 {
    padding-top: 30px;
}

.home .donnees-users {
    display: flex;
}

.home .donnees-users .profil,
.home .donnees-users .classe {
    display: block;
    position: relative;
    padding: 50px;
    width: 100%;
}

.home .donnees-users .classe .first-classe {
    background: var(--background-color-classe);
    width: 100%;
    border-radius: 10px;
    border-left: solid 10px var(--primary-color);
    color: var(--primary-color);
    margin-bottom: 10px;
}

.home .donnees-users .classe .first-classe .nom,
.home .donnees-users .classe .first-classe .options,
.home .donnees-users .classe .first-classe .commentaire {
    margin-left: 10px;
}

.home .donnees-users .classe .last-classe {
    background: var(--background-color-classe);
    width: 100%;
    border-radius: 10px;
    border-left: solid 10px var(--primary-color);
    color: var(--primary-color);
    margin-bottom: 10px;
}

.home .donnees-users .classe .last-classe .nom,
.home .donnees-users .classe .last-classe .options,
.home .donnees-users .classe .last-classe .commentaire {
    margin-left: 10px;
}

.home .donnees-users .classe .last-classe .nom,
.home .donnees-users .classe .first-classe .nom {
    font-weight: bold;
}

.home .donnees-users .profil {
    display: flex;
}

.home .donnees-users .profil .image-profil,
.home .donnees-users .profil .donnees-profil {
    display: block;
    position: relative;
    padding: 0 50px 50px 50px;

}

.home .donnees-users .profil .image-profil img {
    width: 121px;
    height: 117px;
    border-radius: 120px;
}

.home .donnees-users .profil .donnees-profil {
    background: var(--background-color-classe);
    border-radius: 10px;
    color: var(--primary-color);
    margin-bottom: 10px;
}

.home .donnees-users .profil .donnees-profil .nom,
.home .donnees-users .profil .donnees-profil .e-mail,
.home .donnees-users .profil .donnees-profil .password,
.home .donnees-users .profil .donnees-profil .type-account {
    padding-top: 20px;
}


.home .donnees-users .profil .donnees-profil .nom .titre,
.home .donnees-users .profil .donnees-profil .e-mail .titre,
.home .donnees-users .profil .donnees-profil .password .titre {
    font-weight: bold;
}

.home .donnees-users .profil .donnees-profil .form-changer-donner {

}

.home .donnees-users .profil .donnees-profil .form-changer-donner h2 {

}

.home .donnees-users .profil .donnees-profil .form-changer-donner form .texte {

}

.home .donnees-users .profil .donnees-profil .form-changer-donner form .button {

}

.home .donnees-users .profil .donnees-profil .form-changer-donner .changename,
.home .donnees-users .profil .donnees-profil .form-changer-donner .changemail,
.home .donnees-users .profil .donnees-profil .form-changer-donner .changepassword,
.home .donnees-users .profil .donnees-profil .form-changer-donner .changeimage {
    display: none;
}

.home .donnees-users .profil .donnees-profil .form-changer-donner .changename.open {
    display: block;
}

.home .donnees-users .profil .donnees-profil .form-changer-donner .changemail.open {
    display: block;
}

.home .donnees-users .profil .donnees-profil .form-changer-donner .changepassword.open {
    display: block;
}

.home .donnees-users .profil .donnees-profil .form-changer-donner .changeimage.open {
    display: block;
}

.home .donnees-users .profil .donnees-profil .form-changer-donner #value-select {
    box-shadow: 4px 4px #ccc;
    border-radius: 5px;
    background-color: var(--toggle-color);
    color: var(--primary-color);
}
