@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
/*----------Page de Login---------------*/

.page-login {   /*Paramètre du body*/
    background: #f6f5f7;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    margin: -20px 0 50px;
}


/*Paramètrage des formulaires*/
.page-login .form-login {   /*Paramètre des deux formulaires*/
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}

.page-login .form-container {   /*Paramètre général des deux zone de formulaire*/
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.page-login .sign-in-container {    /*Paramètre du formulaire visible*/
    left: 0;
    width: 50%;
    z-index: 2;
}

.page-login .form-login.right-panel-active .sign-in-container { /*paramètre du formulaire de droite*/
    transform: translateX(100%);
}

.page-login .sign-up-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.page-login .form-login.right-panel-active .sign-up-container { /*Paramètre du fomulaire de gauche*/
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
}

.page-login .overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}

.page-login .form-login.right-panel-active .overlay-container {
    transform: translateX(-100%);
}

.page-login .overlay {  /*Paramètre de la page sur le formulaire*/
    background: #FF416C;
    background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
    background: linear-gradient(to right, #380036, #0CBABA);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: #FFFFFF;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.page-login .form-login.right-panel-active .overlay {
    transform: translateX(50%);
}

.page-login .overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.page-login .overlay-left {
    transform: translateX(-20%);
}

.page-login .form-login.right-panel-active .overlay-left {
    transform: translateX(0);
}

.page-login .overlay-right {
    right: 0;
    transform: translateX(0);
}

.page-login .form-login.right-panel-active .overlay-right {
    transform: translateX(20%);
}
/*Intérieur des formulaires*/
.page-login .form-login .Titre {    /*Paramètre des Titre h1 des zones*/
    font-weight: bold;
    margin: 0;
}


.page-login .form-login .overlay-container .overlay .Commentaire {  /*Paramètre des comentaire des zones*/
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
}

.page-login .form-login span {  /*paramètre des sous-titres*/
    font-size: 12px;
}

.page-login .form-login .form-container a { /*Paramètre des liens*/
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}

.page-login .form-login .button-login {    /*Parmètre des boutons*/
    border-radius: 20px;
    border: 1px solid #380036;
    background-color: #380036;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    cursor: pointer;
}

.page-login .form-login button:active { /*paramètre des bouton appuyer*/
    transform: scale(0.95);
}

.page-login .form-login button:focus {  /*paramètre des bontons au survol*/
    outline: none;
}

.page-login .form-login button.ghost {  /*paramètres des boutons en mode caché*/
    background-color: transparent;
    border-color: white;
}

.page-login .form-login form {  /*Paramètre général des formulaires*/
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}

.page-login .form-login input { /*Paramètre ds zones de textes*/
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
    border-radius: 5px;
}


@keyframes show {
    0%, 49.99% {
        opacity: 0;
        z-index: 1;
    }

    50%, 100% {
        opacity: 1;
        z-index: 5;
    }
}

@media screen and (max-width: 750px) {
    .page-login .form-container {
        position: fixed;
        height: 50%;
        width: 100%;
    }

    .page-login .overlay-container {
        position: fixed;
        height: 50%;
        width: 100%;
        left: 0;
        top: 50%;
        transition: all 0.6s ease-in-out;
    }

    .page-login .form-login.right-panel-active .sign-in-container {
        transform: translateY(100%);
    }

    .page-login .form-login.right-panel-active .sign-up-container {
        transform: translateY(100%);
    }

    .page-login .form-login.right-panel-active .overlay-container {
        transform: translateY(100%);
        top:-50%;
    }