.home .liste-classe .bandeau {
    display: block;
    margin: 30px 20px 50px 30px;
    height: 100px;
    background-color: var(--primary-color-light);
    color: var(--text-color);
    border-radius: 10px;
    box-shadow: -11px 11px 1px rgb(0 0 0 / 30%);
    text-align: center;
}

.home .liste-classe .bandeau h1 {
    padding-top: 30px;
}

.home .liste-classe .zone-classe {
    display: block;
    margin: 30px 20px 30px 30px;
    height: 50px;
}

.home .liste-classe .zone-classe .bandelette {
    background: var(--background-color-classe);
    width: 100%;
    border-radius: 10px;
    border-left: solid 10px var(--primary-color);
    color : var(--primary-color);
    margin-bottom: 10px;
}

.home .liste-classe .zone-classe .bandelette .multi-zone {
    display: flex;
    justify-content: space-between;
}

.home .liste-classe .zone-classe .bandelette .multi-zone .commentaire .data {
    display: flex;
    justify-content: space-between;
}

.home .liste-classe .zone-classe .bandelette .multi-zone .bouton-modif .type-generation {
    display: flex;
    justify-content: space-between;
}

.home .liste-classe .zone-classe .bandelette .multi-zone .partie-principale {
    margin-left: 10px;
}

.home .liste-classe .zone-classe .bandelette .multi-zone .bouton-modif {
    margin-right: 50px;
}

.home .liste-classe .zone-classe .bandelette .multi-zone .bouton-modif .button {
    border-radius: 20px;
    border: 1px solid #380036;
    background-color: #380036;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    cursor: pointer;
    margin: 3px;
}

.home .liste-classe .zone-classe .bandelette .multi-zone .partie-principale .nom {
    margin-bottom : 10px;
    font-weight: bold;
}

.home .liste-classe .zone-classe .bandelette .multi-zone .commentaire .data {
    margin-bottom : 10px;
}

.home .liste-classe .zone-classe .bandelette .multi-zone .commentaire .data .date {
    margin-left: 10px;
}
