<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <!----======== Meta ======== -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Pontlevoy Maxime">
    <meta name="description" content="Web Site for generate c++ class">
    <meta name="keyword" content="C++, classe C++, Web Site, Python, SQlite3, Flask">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--<title> Drop Down Sidebar Menu | CodingLab </title>-->
    <!--<link rel="stylesheet" href="style/style_login.css" >-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/style_forgottenpassword.css') }}">

    <meta name="viewport" content="width=device-width, initial-scale = 1.0">
    <link rel="shortcut icon" />
    <!-- Le titre de votre page -->
    <title>MMOGC -- Générateur de classe</title>
</head>

<body>
    <input class="c-checkbox" type="checkbox" id="checkbox">
    <div class="c-formContainer">
        <form class="c-form" action="/">
            <input class="c-form__input" placeholder="E-mail" type="email"
                pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$" required>
            <label class="c-form__buttonLabel" for="checkbox">
                <button class="c-form__button" type="submit">Envoyer</button>
            </label>
            <label class="c-form__toggle" for="checkbox" data-title="Donner votre email"></label>
        </form>
    </div>

</body>

</html>