<!DOCTYPE html>
<!-- Coding by CodingLab | www.codinglabweb.com -->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!----======== CSS ======== -->
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style_sidebar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style_generateur.css') }}">

    <!----===== Boxicons CSS ===== -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

    <!--<title>Dashboard Sidebar Menu</title>-->
    <title>MMOGC -- Générateur de classe</title>
</head>

<body>
    <nav class="sidebar close">
        <header>
            <div class="image-text">
                <span class="image">
                    <img src="{{ url_for('static', filename = 'image/logo.png') }}" alt="">
                </span>

                <div class="text logo-text">
                    <span class="name">MMOGC</span>
                    <span class="profession">Class Generator</span>
                </div>
            </div>

            <i class='bx bx-chevron-right toggle'></i>
        </header>

        <div class="menu-bar">
            <div class="menu">


                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="acceuil">
                            <i class='bx bx-home-alt icon'></i>
                            <span class="text nav-text">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="generateur">
                            <i class='bx bx-pie-chart-alt icon'></i>
                            <span class="text nav-text">Générateur</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="boutique">
                            <i class='bx bx-wallet icon'></i>
                            <span class="text nav-text">Boutiques</span>
                        </a>
                    </li>

                </ul>
            </div>

            <div class="bottom-content">
                <li class="nav-link">
                    <a href="user">
                        <i class='bx bx-user icon'></i>
                        <span class="text nav-text">User</span>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="notification">
                        <i class='bx bx-bell icon'></i>
                        <span class="text nav-text">Notifications</span>
                    </a>
                </li>
                {% if idGroup == 10 %}
                <li class="nav-link">
                    <a href="gestiondata">
                        <i class='bx bx-data icon'></i>
                        <span class="text nav-text">DataBase</span>
                    </a>
                </li>
                {% endif %}
                <li class="">
                    <a href="/logout">
                        <i class='bx bx-log-out icon'></i>
                        <span class="text nav-text">Logout</span>
                    </a>
                </li>

                <li class="mode">
                    <div class="sun-moon">
                        <i class='bx bx-moon icon moon'></i>
                        <i class='bx bx-sun icon sun'></i>
                    </div>
                    <span class="mode-text text">Dark mode</span>

                    <div class="toggle-switch">
                        <span class="switch"></span>
                    </div>
                </li>

            </div>
        </div>

    </nav>

    <!-- Zone du Générateur-->
    <section class="home">
        <div class="Generateur-classe">
            <div class="Titre-form">
                <h1>Générateur de Classe</h1>
            </div>
            <form action="{{ url_for('generer') }}" method="post">
                {{ form_classe.hidden_tag() }}

                <div class="Definition-classe">
                    <p>Définition de la classe</p>

                    <div class="zone-remplissage">
                        Name :
                        {{ form_classe.name(type="text", required="") }}
                    </div>
                    <div class="zone-remplissage">
                        Classe mère :
                        {{ form_classe.class_mere(type="text") }}
                    </div>

                </div>
                <div class="toutes-options">
                    <div class="gauche">
                        <div class="Options-classes">
                            <p>Options</p>
                            <div class="Option-checkbox">

                                <div class="zone-remplissage">
                                    {{ form_classe.Protect_head(type="checkbox", value="1") }}
                                    Protéger le header contre les inclusions multiples
                                </div>

                                <div class="zone-remplissage">
                                    {{ form_classe.Generat_head_default_construct(type="checkbox", value="1") }}
                                    Générer un contructeur par default
                                </div>

                                <div class="zone-remplissage">
                                    {{ form_classe.Generat_head_destruct(type="checkbox", value="1") }}
                                    Générer un destructeur
                                </div>

                            </div>
                        </div>

                        <div class="Commentaire">
                            <p>Commentaire</p>

                            <div class="zone-remplissage">
                                Auteur :
                                {{ form_classe.auteur(type="text") }}
                            </div>

                            <div class="zone-remplissage">
                                Date de creation :
                                {{ form_classe.creation_data(type="date") }}
                            </div>

                            <div class="zone-remplissage">
                                Commentaire sur la classe :
                                {{ form_classe.class_role(class="comment-area", maxlength="500", spellcheck=true) }}
                            </div>

                        </div>


                    </div>
                    <div class="droite">

                    </div>
                </div>
                <div>
                    {{ form_classe.submit(class="button-envoyer-class") }}
                </div>
            </form>
        </div>
    </section>
    <script src="{{ url_for('static', filename = 'js/sidebar.js') }}"></script>
</body>
</html>