<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!----======== CSS ======== -->
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style_GestionData.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style_sidebar.css') }}" />


    <!----===== Boxicons CSS ===== -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

    <!--<title>Dashboard Sidebar Menu</title>-->
    <title>MMOGC -- Générateur de classe</title>
</head>
<body>
    <nav class="sidebar close">
        <header>
            <div class="image-text">
                <span class="image">
                    <img src="{{ url_for('static', filename = 'image/logo.png') }}" alt="">
                </span>

                <div class="text logo-text">
                    <span class="name">MMOGC</span>
                    <span class="profession">Class Generator</span>
                </div>
            </div>

            <i class='bx bx-chevron-right toggle'></i>
        </header>

        <div class="menu-bar">
            <div class="menu">


                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="acceuil">
                            <i class='bx bx-home-alt icon'></i>
                            <span class="text nav-text">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="generateur">
                            <i class='bx bx-pie-chart-alt icon'></i>
                            <span class="text nav-text">Générateur</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="boutique">
                            <i class='bx bx-wallet icon'></i>
                            <span class="text nav-text">Boutiques</span>
                        </a>
                    </li>

                </ul>
            </div>

            <div class="bottom-content">
                <li class="nav-link">
                    <a href="user">
                        <i class='bx bx-user icon'></i>
                        <span class="text nav-text">User</span>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="notification">
                        <i class='bx bx-bell icon'></i>
                        <span class="text nav-text">Notifications</span>
                    </a>
                </li>
                {% if idGroup == 10 %}
                <li class="nav-link">
                    <a href="gestiondata">
                        <i class='bx bx-data icon'></i>
                        <span class="text nav-text">DataBase</span>
                    </a>
                </li>
                {% endif %}
                <li class="">
                    <a href="/logout">
                        <i class='bx bx-log-out icon'></i>
                        <span class="text nav-text">Logout</span>
                    </a>
                </li>

                <li class="mode">
                    <div class="sun-moon">
                        <i class='bx bx-moon icon moon'></i>
                        <i class='bx bx-sun icon sun'></i>
                    </div>
                    <span class="mode-text text">Dark mode</span>

                    <div class="toggle-switch">
                        <span class="switch"></span>
                    </div>
                </li>

            </div>
        </div>

    </nav>

    <section class="home">
        <div class="liste-classe">
            <div class="bandeau">
                <h1>Liste des données de la basede données</h1>
            </div>
            <div class="donnees-site">
                <p class="texte"> La moyenne du nombre de classe par utilisateur sur le site est de : </p> 
                <p class="donnees"> <b>{{ moyenne_classe_all_user[0][0] }}</b> classes/utilisateurs </p>
                <div class="user-mode-account">
                    Nombre d'utilisateur par type de compte:
                    <div class="type-de-compte">
                        Basic : {{ nombre_type_compte[0][1]}}
                        <br />
                        Classic : {{ nombre_type_compte[1][1]}}
                        <br />
                        Premium : {{ nombre_type_compte[2][1]}}
                    </div>
                </div>
            </div>
            <div class="donnees">   
                <div class="classe">
                    <div class="affichage-classe">
                        {% for row in allclasse %}
                        <div class="une-classe">
                            <div class="multi-zone">
                                <div class="partie-principale">
                                    <div class="nom">
                                        {{ row[1] }} ({{ row[2] }}) => {{ row[3] }}
                                    </div>
                                    <div class="options">
                                        <div>
                                            {% if row[4] == 1 %}
                                            <input type="checkbox" disabled checked />
                                            {% else %}
                                            <input type="checkbox" disabled />
                                            {% endif %}

                                            : Protéger le header contre les inclusion multiples
                                        </div>
                                        <div>
                                            {% if row[5] == 1 %}
                                            <input type="checkbox" disabled checked />
                                            {% else %}
                                            <input type="checkbox" disabled />
                                            {% endif %}

                                            : Générer un constructeur par défaut
                                        </div>
                                        <div>
                                            {% if row[6] == 1 %}
                                            <input type="checkbox" disabled checked />
                                            {% else %}
                                            <input type="checkbox" disabled />
                                            {% endif %}

                                            : Générer un déstructeur
                                        </div>
                                    </div>
                                </div>

                                <div class="commentaire">
                                    <div class="data">
                                        <div class="auteur">
                                            {{ row[8] }}
                                        </div>
                                        <div class="date">
                                            {{ row[9] }}
                                        </div>
                                    </div>
                                    <div class="texte">
                                        {{ row[10] }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="user">
                    <div class="Titre">Table des utilisateurs :</div>
                    <div class="affichage-user">
                        {% for row in alluser %}
                        <div class="un-user">
                            <div class="multi-zone">
                                <div class="donnee-général">
                                    <div class="name">
                                        {{ row[1] }}
                                    </div>
                                    <div class="email">
                                        email : {{ row[2] }}
                                    </div>
                                    <div class="password">
                                        password : {{ row[3] }}
                                    </div>
                                    <div class="groupe">
                                        groupe actuel : 
                                        {% if row[7] == 1 %}
                                        Administrateur
                                        {% endif %}
                                        {% if row[7] == 2 %}
                                        Support
                                        {% endif %}
                                        {% if row[7] == 3 %}
                                        Commercial
                                        {% endif %}
                                        {% if row[7] == 4 %}
                                        Client
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="donnees-auxiliaire">
                                    <div class="vip-account">
                                        {% if row[4] == 1 or row[4] == 2 %}
                                        <input type="checkbox" disabled checked />
                                        {% else %}
                                        <input type="checkbox" disabled />
                                        {% endif %}

                                        : Classic Account
                                        <br />
                                        {% if row[4] == 2 %}
                                        <input type="checkbox" disabled checked />
                                        {% else %}
                                        <input type="checkbox" disabled />
                                        {% endif %}

                                        : Premium Account
                                    </div>
                                    <div class="donnees-classe">
                                        Nombre de classe réalisé : {{ row[5] }}
                                    </div>
                                </div>
                            </div>
                            <div class="bouton-action-user">
                                {% if row[7] <= idUser  %}
                                <div class="supprimer impossible">
                                    <input class="button" type="button" value="Supprimer" />
                                </div>
                                {% else %}
                                <div class="supprimer">
                                    <input class="button" type="button" value="Supprimer"
                                        onclick="window.location.href = 'supprimeruser/{{ row[0] }}'" />
                                </div>
                                {% endif %}
                                {% if row[7] <= idUser %}
                                <div class="bannir impossible">
                                    <input class="button" type="button" value="Bannir" />
                                </div>
                                {% else %}
                                <div class="bannir">
                                    <input class="button" type="button" value="Bannir"
                                        onclick="window.location.href = 'banniruser/{{ row[0] }}'" />
                                </div>
                                {% endif %}
                                {% if row[7] <= idUser %}
                                <div class="button-modif-gr impossible">
                                    Changer Groupe :
                                    <select name="value-to-change-gr" id="value-select" disabled>
                                        <option value="">--Please choose a group--</option>
                                        <option value="2">Support</option>
                                        <option value="3">Commercial</option>
                                        <option value="4">Client</option>
                                    </select>
                                </div>
                                {% else %}
                                <div class="button-modif-gr">
                                    Changer Groupe : 
                                    <select name="value-to-change-gr" id="value-select" onchange="location = this.value;">
                                        <option value="">--Please choose a group--</option>
                                        <option value="changergroupe/{{ row[0]}}/2">Support</option>
                                        <option value="changergroupe/{{ row[0]}}/3">Commercial</option>
                                        <option value="changergroupe/{{ row[0]}}/4">Client</option>
                                    </select>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="Titre">Table des Bannis :</div>
                    <div class="affichage-user">
                        {% for row in allbanuser %}
                        <div class="un-user">
                            <div class="multi-zone">
                                <div class="donnee-général">
                                    <div class="name">
                                        {{ row[1] }}
                                    </div>
                                    <div class="email">
                                        email : {{ row[2] }}
                                    </div>
                                    <div class="password">
                                        password : {{ row[3] }}
                                    </div>
                                </div>
                                <div class="donnees-auxiliaire">
                                    <div class="vip-account">
                                        {% if row[4] == 1 or row[4] == 2 %}
                                        <input type="checkbox" disabled checked />
                                        {% else %}
                                        <input type="checkbox" disabled />
                                        {% endif %}

                                        : Classic Account
                                        <br />
                                        {% if row[4] == 2 %}
                                        <input type="checkbox" disabled checked />
                                        {% else %}
                                        <input type="checkbox" disabled />
                                        {% endif %}

                                        : Premium Account
                                    </div>
                                    <div class="donnees-classe">
                                        Nombre de classe réalisé : {{ row[5] }}
                                    </div>
                                </div>
                            </div>
                            <div class="cause">
                                Cette personn à été banni pour : {{ row[7] }}
                            </div>
                            <div class="bouton-action-user">
                                <div class="supprimer">
                                    <input class="button" type="button" value="Supprimer"
                                        onclick="window.location.href = 'supprimeruserbanni/{{ row[0] }}'" />
                                </div>
                                {% if row[7] == 1 %}
                                <div class="bannir impossible">
                                    <input class="button" type="button" value="Bannir" />
                                </div>
                                {% else %}
                                <div class="bannir">
                                    <input class="button" type="button" value="Débannir"
                                        onclick="window.location.href = 'unbanuser/{{ row[0] }}'" />
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="{{ url_for('static', filename = 'js/sidebar.js') }}"></script>
</body>
</html>