<!DOCTYPE html>
  <!-- Coding by CodingLab | www.codinglabweb.com -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!----======== CSS ======== -->
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style_sidebar.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename = 'css/style_modificateur.css') }}">
    
    <!----===== Boxicons CSS ===== -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    
    <!--<title>Dashboard Sidebar Menu</title>--> 
    <title>MMOGC -- Générateur de classe</title>
</head>
<body>
    <nav class="sidebar close">
        <header>
            <div class="image-text">
                <span class="image">
                    <img src="{{ url_for('static', filename = 'image/logo.png') }}" alt="">
                </span>

                <div class="text logo-text">
                    <span class="name">MMOGC</span>
                    <span class="profession">Class Generator</span>
                </div>
            </div>

            <i class='bx bx-chevron-right toggle'></i>
        </header>

        <div class="menu-bar">
            <div class="menu">


                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="/acceuil">
                            <i class='bx bx-home-alt icon' ></i>
                            <span class="text nav-text">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="/generateur">
                            <i class='bx bx-pie-chart-alt icon' ></i>
                            <span class="text nav-text">Générateur</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="/boutique">
                            <i class='bx bx-wallet icon' ></i>
                            <span class="text nav-text">Boutiques</span>
                        </a>
                    </li>

                </ul>
            </div>

            <div class="bottom-content">
                <li class="nav-link">
                    <a href="user">
                        <i class='bx bx-user icon'></i>
                        <span class="text nav-text">User</span>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="/notification">
                        <i class='bx bx-bell icon'></i>
                        <span class="text nav-text">Notifications</span>
                    </a>
                </li>
                {% if idGroup == 10 %}
                <li class="nav-link">
                    <a href="gestiondata">
                        <i class='bx bx-data icon'></i>
                        <span class="text nav-text">DataBase</span>
                    </a>
                </li>
                {% endif %}
                <li class="">
                    <a href="/logout">
                        <i class='bx bx-log-out icon'></i>
                        <span class="text nav-text">Logout</span>
                    </a>
                </li>

                <li class="mode">
                    <div class="sun-moon">
                        <i class='bx bx-moon icon moon'></i>
                        <i class='bx bx-sun icon sun'></i>
                    </div>
                    <span class="mode-text text">Dark mode</span>

                    <div class="toggle-switch">
                        <span class="switch"></span>
                    </div>
                </li>

            </div>
        </div>

    </nav> 
    
    <section class="home">
        <div class="zone-modifieur">
            <!--Zone de classe en cours de modification-->
            <div class="donnees-en-cours-de-modification">
                <div class="titre-module-donnees">
                    Classe en cours de modification
                </div>
                <div class="liste-donnees">
                    <br>
                    <div class="name">
                        Nom : 
                        <br />
                        {% print(donnees[0][1]) %}
                    </div>
                    <br>
                    <div class="mere-name">
                        Classe Mère : 
                        <br />
                        {% print(donnees[0][2]) %}
                    </div>
                    <br>
                    <div class="Protect-head">
                        Protéger le header contre les inclusions multiples :
                        <br />
                        {% if donnees[0][3] == 1 %}
                        oui
                        {% else %}
                        non
                        {% endif%}
                    </div>
                    <br>
                    <div class="Generat-head-default-construct">
                        Générer un contructeur par default : 
                        <br />
                        {% if donnees[0][4] == 1 %}
                        oui
                        {% else %}
                        non
                        {% endif%}
                    </div>
                    <br>
                    <div class="Generat-head-destruct">
                        Générer un destructeur : 
                        <br />
                        {% if donnees[0][5] == 1 %}
                        oui
                        {% else %}
                        non
                        {% endif%}
                    </div>
                    <br>
                    <div class="auteur">
                        Auteur :
                        <br />
                        {% print(donnees[0][6]) %}
                    </div>
                    <br>

                </div>
            </div>
        
            <!-- Zone du Générateur-->
            <div class="Generateur-classe">
                <p class="Titre-form">Générateur de Classe</p>
                <form action="modifier/{{idClass}}" method="post">
                    {{ form_classe.hidden_tag() }}
        
                    <div class="Definition-classe">
                        <p>Définition de la classe</p>
        
                        <div class="zone-remplissage">
                            Name :
                            {{ form_classe.name(type="text", required="") }}
                        </div>
                        <div class="zone-remplissage">
                            Classe mère :
                            {{ form_classe.class_mere(type="text") }}
                        </div>
        
                    </div>
                    <div class="Options-classes">
                        <p>Options</p>
                        <div class="Option-checkbox">
        
                            <div class="zone-remplissage">
                                {{ form_classe.Protect_head(type="checkbox", value="1") }}
                                Protéger le header contre les inclusions multiples
                            </div>
        
                            <div class="zone-remplissage">
                                {{ form_classe.Generat_head_default_construct(type="checkbox", value="1") }}
                                Générer un contructeur par default
                            </div>
        
                            <div class="zone-remplissage">
                                {{ form_classe.Generat_head_destruct(type="checkbox", value="1") }}
                                Générer un destructeur
                            </div>
        
                        </div>
                        <div class="module-header">
                        </div>
                        <div class="module-attribut">
                        </div>
                    </div>
        
                    <div class="Commentaire">
                        <p>Commentaire</p>
        
                        <div class="zone-remplissage">
                            Auteur :
                            {{ form_classe.auteur(type="text") }}
                        </div>
        
                        <div class="zone-remplissage">
                            Date de creation :
                            {{ form_classe.creation_data(type="date") }}
                        </div>
        
                        <div class="zone-remplissage">
                            Role de la classe :
                            {{ form_classe.class_role(type="text") }}
                        </div>
        
                    </div>
        
                    <div>
                        {{ form_classe.submit(class="button-envoyer-class") }}
                    </div>
                </form>
            </div>
        </div>
    </section>

    <script>
        const body = document.querySelector('body'),
	      sidebar = body.querySelector('nav'),
	      toggle = body.querySelector(".toggle"),
	      searchBtn = body.querySelector(".search-box"),
	      modeSwitch = body.querySelector(".toggle-switch"),
	      modeText = body.querySelector(".mode-text");
	
	
		toggle.addEventListener("click" , () =>{
		    sidebar.classList.toggle("close");
		})
		
		modeSwitch.addEventListener("click" , () =>{
		    body.classList.toggle("dark");
		    
		    if(body.classList.contains("dark")){
		        modeText.innerText = "Light mode";
		    }else{
		        modeText.innerText = "Dark mode";
		        
		    }
		});
    </script>

</body>
</html>



