<!DOCTYPE html>
<html>
<!----======== Meta ======== -->
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="author" content="Pontlevoy Maxime">
<meta name="description" content="Web Site for generate c++ class">
<meta name="keyword" content="C++, classe C++, Web Site, Python, SQlite3, Flask">

<!----======== CSS ======== -->
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/style_gestion_error.css') }}" />

<!----===== Boxicons CSS ===== -->
<link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

<!--<title>Dashboard Sidebar Menu</title>-->
<title>MMOGC -- Générateur de classe</title>
</header>

<body>

</body>

</html>