<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!----======== Meta ======== -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Pontlevoy Maxime">
    <meta name="description" content="Web Site for generate c++ class">
    <meta name="keyword" content="C++, classe C++, Web Site, Python, SQlite3, Flask">

    <!----======== CSS ======== -->
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style_validation_payement.css') }}">


    <!----===== Boxicons CSS ===== -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

    <!--<title>Dashboard Sidebar Menu</title>-->
    <title>MMOGC -- Générateur de classe</title>
</head>
<body>
    <div class="zone1">
        <h1>Ceci était une petite blague</h1>
        <p class="text-principale">
        Ce site étant jugé inapte à adopter des options payantes, celui-ci a été rendu totalement gratuit depuis le 25/03/2022.
        <br/>
        La mise a jour de votre compte sera prise en compte lors de votre prochaine connexion.</p>
        <p class="sous-text">Merci quand même pour vos données bancaires, celles-ci seront utilisées à bon escient!!!</p>
    </div>

    <div class="zone2">
        <h2>Si vous voulez retourner sur le site cliquer sur le lien suivant:</h2>
        <p class="lien-retour-acceuil"><a href="acceuil">Retourner sur le site</a></p>
    </div>
</body>
</html>
